{% extends 'fridgeManager/base.html' %}

{% block title_block %}
    Home
{% endblock %}

{% block body_block %}
    <div class="pt-8 text-center">
        <h2 class="font-weight-light">Your personal fridge manager</h2>
        <h1 class="">FridgeGerald</h1>
        <a class="mt-4 nav-link btn btn-outline-primary btn-lg mx-auto max-w-400" href="#">
            <i class="fas fa-user pr-2"></i>Sign Up
        </a>
        <span>Already have an account? <a href="#">Log In.</a></span>
    </div>
{% endblock %}