html, body {
    height: 100%;
}

.navbar-light {
    border-bottom: 1px solid #5bc0eb;
}

.navbar-nav > li {
    float: left;
    position: relative;
}
.navbar-light .navbar-nav .active a::after {
    border-bottom: 5px solid #5bc0eb;
    bottom: -10px;
    content: " ";
    left: 0;
    position: absolute;
    right: 0;
}
.pt-8 {
    padding-top: 8rem;
}
@media(min-width:767px){
    h1.main {
        font-size: 5em;
    }
    h2.main {
        font-size: 4em;
    }
}
.max-w-400 {
    max-width: 400px;
}

.very-close-to-expiry {
    background-color: red !important;
    color:white;
}

.close-to-expiry{
    background-color: yellow;
}

.delete-consume-btn {
    background-image: linear-gradient(to right, #f6d365 0%, #fda085 51%, #f6d365 100%);
  }

.card {
    margin: 0 auto;
    float: none;
    margin-bottom: 10px;
}

form {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}